USE [master]
GO
/****** Object:  Database [music]    Script Date: 14.03.2018 2:08:40 ******/
CREATE DATABASE [music]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'music', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\music.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'music_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\music_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [music].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [music]
GO
USE [music]
GO
/****** Object:  Table [dbo].[All_music]    Script Date: 14.03.2018 2:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[All_music](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Music_name] [nvarchar](100) NOT NULL,
	[Music_photo] [nvarchar](100) NULL,
	[Music_text] [nvarchar](100) NOT NULL,
	[KategoryId] [int] NOT NULL,
 CONSTRAINT [PK_All_music_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategory]    Script Date: 14.03.2018 2:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kategory_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategory] ON 

INSERT [dbo].[Kategory] ([Id], [Kategory_name]) VALUES (1, N'Rap')
INSERT [dbo].[Kategory] ([Id], [Kategory_name]) VALUES (2, N'Jazz')
INSERT [dbo].[Kategory] ([Id], [Kategory_name]) VALUES (3, N'Pop')
SET IDENTITY_INSERT [dbo].[Kategory] OFF
ALTER TABLE [dbo].[All_music]  WITH CHECK ADD  CONSTRAINT [FK_All_music_Kategory] FOREIGN KEY([KategoryId])
REFERENCES [dbo].[Kategory] ([Id])
GO
ALTER TABLE [dbo].[All_music] CHECK CONSTRAINT [FK_All_music_Kategory]
GO
USE [master]
GO
